<style>
@import url('https://fonts.googleapis.com/css?family=Quicksand');
</style>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <span><h1>HOME</h1></span>
    <hr>

    <form action="/login">
      <input type="submit" value="Login" />
    </form>
    <form action="/customers/new">
      <input type="submit" value="Register" />
    </form>

  </body>
</html>
