<header>
  <div class="nav">
    <ul>
      <li class="home"><a href="#">Home</a></li>
      <li class="tutorials"><a class="active" href="#">Tutorials</a></li>
      <li class="about"><a href="#">About</a></li>
      <li class="news"><a href="#">Newsletter</a></li>
      <li class="contact"><a href="#">Contact</a></li>
    </ul>
  </div>
</header>
<h1>All Flights' name</h1>
<table>
  <tr>
    <th>Departure City</th>
    <th>Arrival City</th>
    <th>Departure Date</th>
  </tr>

    <% @flights.each do |f| %>
  <tr>
      <td><%= f.departure_city %></td>
      <td><%= f.arrival_city %></td>
      <td><%= f.departure_date %></td>
  </tr>
  <% end %>
</table>
