<style>
@import url('https://fonts.googleapis.com/css?family=Quicksand');
</style>
<style>
@import url('https://fonts.googleapis.com/css?family=VT323');
</style>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body id="customer_show_page">

    <div class="navbar">
      <img class="logo_pic" src="https://image.flaticon.com/icons/svg/929/929900.svg" alt="">
      <div class="dropdown">
        <button class="dropbtn">Menu
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="">Home</a>
          <a href="/customers/<%= current_user.id %>/edit" >My profile</a>
          <a href="/customer_tickets/<%= current_user.id %>">My flights</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
    </div>

    <%# form_tag "/logout", method: :delete do %>
      <%# submit_tag "Logout" %>
    <%# end %>
  <div class="wing_it">
    <div class="wing_it_btn_form">
      <form action="/flights/new" >
        <input id="new_flight_btn" class="wing_it_btn" type="submit" value="Find new flights!" />
      </form>
      <%= form_tag "/flights/create_random", method: :post do %>
        <%= submit_tag "Wing it!", class: "wing_it_btn", id: "random_flight_btn" %>
      <% end %>
    </div>
  </div>

  </body>
</html>
