<header>
  <div class="nav">
    <ul>
      <li class="home"><a href="#">Home</a></li>
      <li class="tutorials"><a class="active" href="#">Tutorials</a></li>
      <li class="about"><a href="#">About</a></li>
      <li class="news"><a href="#">Newsletter</a></li>
      <li class="contact"><a href="#">Contact</a></li>
    </ul>
  </div>
</header>

<h1>All Airports' name</h1>

<table border="1">
  <tr>
    <th>Airport</th>
    <th>City</th>
  </tr>
  <% @airports.each do |row| %>
  <% row.id %>
  <tr>
    <td><%= row.airport_name%></td>
    <td><%= row.city %></td>
  </tr>
  <% end %>
</table>
