
// body {
//   // background-color: grey;
// }



.entire_home_page {
  background-image:url("https://i.redd.it/90ekftm1ltgy.gif");
  background-size: 113%;
  font-family: 'VT323', monospace;

}


.home-page {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  width: 39%;
  height: 70px;
  // border: solid 1px lightgray;
  // border-radius: 8px;
  // background-color: rgb(184, 185, 186);
}

.login_box {
  height: 60%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

}

.register_box {
  height: 60%;
  width:70%;
  margin-left: auto;
  margin-right: auto;

}
.button {
  margin-top: 20px;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  width: 80%;
  height: 90%;
  font-family: 'VT323', monospace;
  font-size: 18px;
}

#login_btn {
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  color: rgb(209, 85, 85);
  border-color: rgb(209, 85, 85);
}

#register_btn {
  background: rgb(209, 85, 85);
  cursor:pointer;
}
#login_btn:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
#register_btn:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


.home_text {
  font-family: 'VT323', monospace;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  font-size: 70px;
  color: black;
}

.home_text:hover {
  color: rgb(209, 85, 85);
}

// # -------------------------------------inside the login page

.login_page {
  margin-left: 740px;
  margin-top: 100px;
  display: flex;
  width: 33%;
  height: 230px;
  // border: 1px lightgray solid;
  font-size: 40px;


}

.login_page div {
  height: 20%;
  margin-top: 20px;
  margin-left: 83px;
  margin-bottom: 20px;


}

.placeholder {
  width: 190px;
  height: 27px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: rgb(66, 52, 211);
  font-family: 'VT323', monospace;
  font-size: 20px;
}

body.log_log_in_page {
  background-image: url("https://i.gifer.com/IjQ1.gif");

}
